{% extends "layout.html" %}{% block content %}
<h4>Todos os clientes</h4>
<table class="table table-sm table-striped">
  <thead><tr><th>Nome</th><th>Consultor</th><th>Última ligação</th><th>Total</th></tr></thead>
  <tbody>
  {% for c in clientes %}
    <tr>
      <td>{{ c.nome }}</td>
      <td>{{ c.consultor.nome }}</td>
      <td>{{ c.ultima_ligacao.strftime('%d/%m/%Y %H:%M') if c.ultima_ligacao else '-' }}</td>
      <td>{{ c.total_ligacoes }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
